*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


body{
    /* border: solid 4px blue; */
    font-family: sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 10px;
    color: black;
    background: linear-gradient(to right, #8591c1, #8873b5, #2c718f);
} 

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}



.nav-bar{
    /* border: solid 4px green;  */
    background-color: rgb(0, 0, 0);
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.nav-bar .nav-container{
    /* border: solid 1px green; */
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.highlight{
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.highlight .logo-txt{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-left: 0.5rem;

    font-weight: 400;  
}

.highlight .logo-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    max-height: 2rem;
    border-radius: 0.2rem;
}

.nav-bar .nav-container .nav-options{
    /* border: solid 4px red; */
    display: flex;
    flex-basis: 15rem;
    justify-content: space-between;
    align-self: center;
}

.nav-bar .nav-container .nav-options a{
    /* border: solid 1px blue; */
    padding: 1rem;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    border-radius: 0.1rem;
}

.nav-bar .nav-container .nav-options a:hover{
    
    background: whitesmoke;
    border: solid 1px rgb(0, 255, 145);
    color:  black;
    cursor: pointer;
}


.login-box{
    /* border: solid 5px green; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.login-menu{
    /* border: solid 5px red; */
    
    display: flex;
    flex-direction: column;
    height: max-content;
    flex-basis: 70vw;
    justify-content: flex-start;
    padding-top: 10vh;
    align-items: center;
}

.heading{
    font-size: 3rem;
    color: white;
}

.txt{
    /* border: solid 1px red; */
    padding-top: 1rem;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    color: black;
    align-self: center;
}

.enter{
    width: 30rem;
    height: 2rem;
    margin-bottom: 0.2rem;
}

#term-and-conditions {
    /* border: solid 1px green; */
    margin-top: 1rem;
}

#checkBox{
    /* border: solid 1px red; */
    align-self: start;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}
#term-and-conditions #checkBox .tc-txt a{
    
    padding-left: 0.5rem;
    font-size: 1rem;
}

#term-and-conditions #checkBox .tc-txt a:hover{
    color: white;
}

.signup-btn{
    width: 25rem;
    border-radius: 2rem;
    font-size: 4rem;
    font-weight: 500;
    color: white;
    background: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));;
}


.signup-btn{
    border: none;
    margin-top: 1rem;
    max-width: 16rem;
    padding: 1rem;
    font-size: 1rem;
}

.parent.error input{
    border: red solid;
}

.parent.error{
    color: rgba(228, 5, 5, 0.525);
    font-size: 1rem;
}

.parent.success input{
    border: green solid;
}


@media (max-width:1000px){
    
    .login-box{
        /* border: solid 5px green; */
        background-image: url("");
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .heading{
        padding: 2rem;
        font-size: 2rem;
        color: white;
    }

    .enter{
        width: 40vw;
        height: 2rem;
        margin-bottom: 0.2rem;
    }

}

@media (max-width:500px){

    .nav-bar{
        /* border: solid 4px green;  */
        background-color: rgb(0, 0, 0);
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    .nav-bar .nav-container{
        /* border: solid 1px green; */
        max-height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .nav-bar .nav-container .nav-options{
        /* border: solid 4px red; */
        
        padding-top: 2rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    
    .heading{
        font-size: 1.5rem;
        color: white;
    }

    #term-and-conditions{
        display: flex;
        flex-wrap: wrap;
        color: white;
        justify-content: center;
    }
    .enter{
        width: 60vw;
        height: 1rem;
    }

}