4@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    /* border: solid 4px blue; */
    font-family: Montserrat;
    min-height: 100vh;
    min-width: 100vw;
    font-size: 10px;
    color: #333;
    background: #a1c3ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
} 

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}


.nav-bar{
    /* border: solid 4px green;  */
    background-color: rgb(0, 0, 0);
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
}

.nav-bar .nav-container{
    /* border: solid 1px green; */
    max-height: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.highlight{
    padding-left: 2rem;
    display: flex;
    align-items: center;
}

.highlight .logo-txt{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-left: 0.5rem;

    font-weight: 400;  
}

.highlight .logo-img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    max-height: 2rem;
    border-radius: 0.2rem;
}

.nav-bar .nav-container .nav-options{
    display: flex;
    padding-right: 2rem;
    gap: 2rem;
}

.nav-bar .nav-container .nav-options a{

    font-size: 1rem;
    color: white;
    font-weight: 500;
    border-radius: 0.1rem;
    padding: 1rem   ;
    width: 6rem;
    height: 3rem;
    text-align: center;
}

.nav-bar .nav-container .nav-options a:hover{
    
    background: whitesmoke;
    border: solid 1px rgb(0, 255, 145);
    color:  black;
    cursor: pointer;
}


#product-cards{
    /* border: solid 1px red; */
    display: flex;
    padding-left: 10vw;
    padding-right: 8vw;
    padding-bottom: 2vw;
    justify-content: center;
}

#product-cards .all-products{
    /* border: solid 2px green; */
    display: flex;

    padding-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;

    justify-content: center;
}



#product-cards .all-products .product{
    border: solid 2px  hsl(194, 44%, 8%);
    border-radius: 1rem;
    display: flex;
    height: 35rem;
    flex-basis: 20rem;
    flex-direction: column;
    padding-left: 2rem; 
    padding-right: 2rem; 
    box-shadow: #333;
}

#product-cards .all-products .product .description{
    display: none;
}


#product-cards .all-products .product .image{

    margin-top: 2rem;
    align-self: center;
    width: 20rem;
    height: 20rem;
    border-radius: 2%;
}

#product-cards .all-products .product .name{
    /* border: solid 1px red; */
    flex-basis: 4rem;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    height: max-content;
    margin-top: 1rem;
    align-self: stretch;
}

#product-cards .all-products .product .price{
    padding-top: 0.3rem;
    align-self: center;
    font-size: 2rem;
    font-weight: 500;
    color: brown;
}

#product-cards .all-products .product .category{
    padding-top: 0.3rem;
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
    text-transform: capitalize;
}

#product-cards .all-products .product .rating{
    padding-top: 0.3rem;
    align-self: center;
    font-weight: 500;
    font-size: 1rem;
}

.footer-bar{
    /* border: solid 1px red; */

    padding-left: 15vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-right: 2vw;

    background:  hsl(233, 26%, 24%);
    height: 5rem;
    width: 100vw;

    color: white;
    font-size: 1rem;
}

.footer-bar .footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.footer-bar .footer-column-1{
    /* border: solid 1px red; */
    display: flex;
}

.footer-bar .footer-img{
    
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 2.5rem;
    max-height: 3rem;
    border-radius: 0.2rem;
}


.footer-bar .footer-txt{
    
    align-self: center;
    /* border: solid 1px red; */
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 400; 
}

.footer-bar .option{
    /* border: solid 1px red; */
    gap: 1rem;
    margin-left: 1rem;
    padding-right: 1rem;
}
.server-error{
    text-align: center;
    font-size: 4rem;
}


@media  (max-width: 800px){
    .nav-bar{
        /* border: solid 2px green;  */
        background-color: rgb(0, 0, 0);
        align-self: center;
    }
    .nav-bar .nav-container{
        /* border: solid 6px gr een; */
        max-height: 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .highlight .logo-txt{
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding-left: 0.5rem;
    
        font-weight: 400;  
    }
    .nav-bar .nav-container .nav-options{
        display: flex;
        padding: 0.5rem;
        gap: 0.1rem;
    }

    .nav-bar .nav-container .nav-options a{

        font-size: 1rem;
        color: white;
        font-weight: 500;
        border-radius: 0.1rem;
        height: 3rem;
    }

    #product-cards{
        /* border: solid 1px red; */
        display: flex;
        padding-left: 10vw;
        padding-right: 8vw;
        padding-bottom: 2vw;
        justify-content: center;
    }

    #product-cards .all-products .product{
        border: solid 2px  hsl(194, 44%, 8%);
        border-radius: 1rem;
        display: flex;
        height: 25rem;
        flex-basis: 10rem;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 2rem; 
        padding-right: 2rem; 
        box-shadow: #333;
    }

    #product-cards .all-products .product .image{

        margin-top: 2rem;
        align-self: center;
        width: 80%;
        height: 10rem;
        border-radius: 2%;
    }
    .footer-bar{
        /* border: solid 1px red; */
    
        padding-left: 15vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
        padding-right: 10vw;
    
        background:  hsl(233, 26%, 24%);
        height: 5rem;
        width: 100vw;
    
        color: white;
        font-size: 1rem;
    }
    
    .footer-bar .footer-txt{
    
        /* border: solid 5px red; */
        align-self: center;
        color: rgb(255, 255, 255);
        font-size: 1rem;
        padding-left: 0.5rem;
        font-weight: 400; 
        text-align: center;
    }
    
}


#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  